config/config.rb
config/database.yml
config/amazon_s3.yml
db/schema.rb
db/*.sqlite3
log/*.log
tmp/*
coverage/*
features_rcov/*
.idea
vendor/gems/*
coverage.data
rerun.txt
.DS_Store
.rvmrc
config/setup_load_paths.rb
vendor/bundle
.bundle
public/system/*